[build]
  publish = "public"

[[redirects]]
  from = "/data/*"
  to = "/data/:splat"
  status = 200

[[headers]]
  for = "/data/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Cache-Control = "no-cache"
